<ion-content [fullscreen]="true" class="content-bg">
  <ion-grid style="height: 99%;">
    <ion-row style="justify-content: center; align-items: center; width: 100%;">
        ion-map here
    </ion-row>
  </ion-grid>

  <ion-row style="height: 1%;">
    <ion-col style="background-color: #2abdee;"></ion-col>
    <ion-col style="background-color: #0395bb"></ion-col>
    <ion-col style="background-color: #017da2"></ion-col>
    <ion-col style="background-color: #06b39e"></ion-col>
    <ion-col style="background-color: #72bf49"></ion-col>
    <ion-col style="background-color: #018d5e"></ion-col>
  </ion-row>

</ion-content>